.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sub-calc {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 5px solid orange;
  width: 400px;
  height: 20px;
  font-size: 20px;
}

#screen {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 5px solid red;
  width: 400px;
  font-size: 64px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn,
.btn-clear,
.btn-operator,
.btn-equals,
.btn-num {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  color: blue;
  font-size: 64px;
}
