* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* border: 1px solid greenyellow; */
  /* width: 400px; */
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 400px;
  background-color: #fff890;
}

#sub-calc {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 400px;
  height: 20px;
  font-size: 20px;
  padding: 10px;
}

.screen {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 400px;
  height: 64px;
  font-size: 64px;
  padding: 10px;
}

.screen-message {
  font-size: 30px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.btn,
.btn-clear,
.btn-operator,
.btn-equals,
.btn-num {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  font-size: 64px;
  user-select: none;
}

.btn {
  transition: background-color 0.5s;
}

.btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.btn-num {
  background-color: #00bbf9;
  color: white;
}

.btn-operator {
  background-color: #9b5de5;
  color: white;
}

.btn-equals {
  background-color: #00f5d4;
  color: black;
}

.btn-clear {
  background-color: #f15bb5;
  color: white;
}

.btn-blank {
  background-color: rgb(240, 240, 240);
}

.btn-disabled {
  color: rgb(221, 221, 221);
  background-color: rgb(240, 240, 240);
}
