.row {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 5px solid red; */
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  text-align: center;
  color: blue;
  font-size: 64px;
}
