* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 {
  border: 2px solid black;
  border-radius: 30px;
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(240, 240, 240);
}

.row {
  height: 100px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.display {
  border: 2px solid black;
  background-color: #fff890;
  margin: 5px;
}

.item {
  border: 2px solid black;
  border-radius: 10px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  user-select: none;
  margin: 5px;
  background-color: white;
  transition: background-color 0.5s;
}

.item:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.btn-clear {
  background-color: #f15bb5;
  color: white;
}

.btn-operator {
  background-color: #9b5de5;
  color: white;
}

.btn-num {
  background-color: #00bbf9;
  color: white;
}

.btn-equals {
  background-color: #00f5d4;
  color: black;
}

.btn-blank {
  background-color: rgb(240, 240, 240);
  border: 0px;
  width: 100px;
}
